.App {
  text-align: center;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}
#mapid { height: 180px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
